{
	"backend/**/*.ts": ["yarn prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["yarn prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["yarn prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["yarn prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["yarn prettier --write \"./frontend/**/*.js\""]
}
