.custom-form .ant-form-item-label {
	display: flex;
	justify-content: flex-end;
}

.custom-form .ant-form-item-label>label {
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.custom-form .ant-form-item-label>label::after {
	content: ':';
	margin-left: 4px;
}
