.list-centers-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.table-wrapper {
  width: 80%;
  padding: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
  overflow-y: auto;
}

.table-row-even {
	background-color: #fff; 
}

.table-row-odd {
	background-color: #f6f2f2; 
}

.ant-table-thead > tr > th {
  background-color: #beb2b2 !important; 
  color: #ffffff; 
  text-align: center;
}


