.search-container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 16px;
}

.search-input {
	width: 200px;
}

@media (max-width: 768px) {
	.search-container {
		justify-content: center;
	}

	.search-input {
		width: 100%;
	}
}

/* .css cho CoursesManagement for admin */
.list-courses-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-wrapper {
  width: 80%;
  padding: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
  overflow-y: auto;
}

.table-row-even {
	background-color: #fff;
}

.table-row-odd {
	background-color: #f6f2f2; 
}

.ant-table-thead > tr > th {
  background-color: #beb2b2 !important; 
  color: #ffffff;
  text-align: center;
}
