.e-appointment {
	width: 100% !important;
	background-image: url('') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.e-popup-header {
	background-image: url('') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.e-schedule-dialog .e-footer-content .e-event-save,
.e-schedule-dialog .e-footer-content .e-event-cancel,
.e-schedule-dialog .e-footer-content .e-event-delete {
	display: none;
}

.e-delete {
	display: none !important;
}
